.App {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: 'header' 'main';
  height: 100%;
  /* width: 100vw; */
  color: #FFF;
  width: 100%;
}

header {
  grid-area: header;
  height: 10vh;
  background-color: #0F1DCE;
  color: #FFF;
 }

 .title-holder {
   display: flex;
   flex-direction: column;
   align-content: center;
   align-items: center;
   justify-content: center;
 }

 .title__header{
   margin: 0;
 }

 main {
  grid-area: main;
  height: 90vh;
  position: relative;
 }

 .main-top-color__div {
  height: 25%;
  background-color: #0978B8;
 }

.data__body {
  position: absolute;
}
